In [1]:
import pandas as pd

In [6]:
df_1 = pd.read_parquet("../data/green_tripdata_2024-05.parquet")
df_2 = pd.read_parquet("../data/yellow_tripdata_2024-05.parquet")

In [7]:
len(df_1), len(df_2)

(61003, 3723833)

In [8]:
61003 + 3723833

3784836

In [16]:
df_1.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [15]:
df_2.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')

In [9]:
print(df_1.head())

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0         2  2024-05-01 00:07:08   2024-05-01 00:15:03                  N
1         2  2024-05-01 00:30:48   2024-05-01 00:35:49                  N
2         2  2024-05-01 00:34:13   2024-05-01 00:38:07                  N
3         2  2024-05-01 00:58:01   2024-05-01 01:14:41                  N
4         2  2024-05-01 00:11:45   2024-05-01 00:20:38                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0            65            49              1.0           1.24
1         1.0             7           179              1.0           0.94
2         1.0            74            42              1.0           0.84
3         1.0            75           235              1.0           6.07
4         1.0           256            49              2.0           2.06

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0          9.3    1.0      0.5        2.00           0.0        NaN
1          7.2    1.0      0.5        1.94           0.0        NaN
2          6.5    1.0      0.5        0.00           0.0        NaN
3         25.4    1.0      0.5        5.00           0.0        NaN
4         12.1    1.0      0.5        2.92           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    1.0         13.80           1.0        1.0
1                    1.0         11.64           1.0        1.0
2                    1.0          9.00           2.0        1.0
3                    1.0         32.90           1.0        1.0
4                    1.0         17.52           1.0        1.0

   congestion_surcharge
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0

In [11]:
print(df_2.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2024-05-01 00:59:15   2024-05-01 01:23:50              1.0
1         2  2024-04-30 23:58:26   2024-05-01 00:29:42              1.0
2         2  2024-05-01 00:57:17   2024-05-01 01:14:15              1.0
3         2  2024-05-01 00:24:47   2024-05-01 00:48:51              1.0
4         2  2024-05-01 00:11:20   2024-05-01 00:52:10              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           6.10         1.0                  N           138           145
1          11.23         1.0                  N           138           249
2           9.02         1.0                  N           138           170
3           6.53         1.0                  N            87           133
4          14.38         1.0                  N           161           165

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         28.2   7.75      0.5        5.00          0.00
1             1         46.4   6.00      0.5        8.72          0.00
2             1         35.9   6.00      0.5       10.57          6.94
3             1         30.3   1.00      0.5        7.06          0.00
4             1         61.8   1.00      0.5        0.00          0.00

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         42.45                   0.0         1.75
1                    1.0         66.87                   2.5         1.75
2                    1.0         65.16                   2.5         1.75
3                    1.0         42.36                   2.5         0.00
4                    1.0         66.80                   2.5         0.00